<h2>ABOUT US</h2>
<P style="text-align: center">We design, develop, produce and render services that add value to our global customers</P>
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <img src="../../assets/images/about1.jpg" alt="">

    </div>
    <div class="col-md-4">
        <img src="../../assets/images/about2.jpg" alt="">

    </div>
    <div class="col-md-4">
        <img src="../../assets/images/about3.jpg" alt="">

    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">

      <div class="col-md-4">
          <div class="card-box">
              <div class="card-title">
                  <h4>Prepress</h4>
                  <p>Invasive Technologies having experienced team members in publishing industry with end to end process knowledge. Localization, Translation Services, Desktop Publishing Services and ePublishing with pre-press (XML) are our main focusing area in the industry. </p>
              </div>
              
          </div>
      </div>
      <div class="col-md-4">
          <div class="card-box">
              <div class="card-title">
                  <h4>eLearning</h4>
                  <p>Invasive Technologies offers a wide range of services for e-publishing industry; we are expertise in handling various types of books like fiction, non-fiction, novels, educational and journals. We are following a complete quality work-flow to make quality output in ePub2, ePub3 editing Processes. </p>
              </div>
              
          </div>
      </div>
      <div class="col-md-4">
          <div class="card-box">
              <div class="card-title">
                  <h4>Web Designing</h4>
                  <p>Invasive Technologies provides professional website design, development and maintenance services. Our skilled web designers and developers accomplish various website projects from brochure sites to multi-functional web portals. A good website is a window to the internet world. </p>
              </div>
              
          </div>
      </div>

  </div>
</div>
