<!-- <section class="service text-center" id="service">
  <div class="container-fluid">
    <div class="row">
      <h2 >OUR SERVICES</h2>
      <br>
      <br>
      <h4>A range of services adapted to your needs</h4>

      <div class="col-md-3 col-sm-6">
        <div class="single-service">
          <div class="single-service-img">
            <div class="service-img">
              <img class="img-responsive" src="" alt="">
            </div>
          </div>
          <h3>Prepress</h3>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="single-service">
          <div class="single-service-img">
            <div class="service-img">
              <img class="img-responsive" src="" alt="">
            </div>
          </div>
          <h3>eLearning</h3>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="single-service">
          <div class="single-service-img">
            <div class="service-img">
              <img class="img-responsive" src="" alt="">
            </div>
          </div>
          <h3>Typesetting</h3>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="single-service">
          <div class="single-service-img">
            <div class="service-img">
              <img class="img-responsive" src="img/service4.png" alt="">
            </div>
          </div>
          <h3>Web Design</h3>
        </div>
      </div>
    </div>
  </div>
</section>
 -->



 <div class="container-fluid services1">
   <div class="row">
     <div class="col-md-12 text-heading" style="text-align: center">
      OUR SERVICES
     </div>
     <div class="col-md-12 " style="text-align: center">
      A range of services adapted to your needs
     </div>

     <div class="col-md-3 services2">
        <img class="img-responsive" src="../../assets/images/service1.png" alt=""><br>

        Prepress
      </div>
      <div class="col-md-3 services2">
          <img class="img-responsive" src="../../assets/images/service2.png" alt=""><br>
       eLearning
      </div>
      <div class="col-md-3 services2">
          <img class="img-responsive" src="../../assets/images/service3.png" alt=""><br>
       Typesetting
            </div>
            <div class="col-md-3 services2">
                <img class="img-responsive" src="../../assets/images/service4.png" alt=""><br>
             Web Design
             </div>     
           
    </div>
  </div>


  
      
     
          
