.services1{
    background-color: #3a9dca;
    color: white;
    padding: 30px;
    margin-bottom: 30px;
}  

.text-heading{
    font-size: 90px;
}
.services2
{
    text-align: center;
    margin-top: 15px;
}
