<!-- <div class="container-fluid w-100">
    <div class="row">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3804.6021580236306!2d78.36732841453073!3d17.526494903392127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb8dfa64e003f7%3A0x693b83e7ac693847!2sRajeev+Gandhi+Nagar+Road%2C+Whisper+Valley%2C+Hyderabad%2C+Telangana+500090!5e0!3m2!1sen!2sin!4v1560962199616!5m2!1sen!2sin"
            width="1500" height="600" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
    </div>
</div>

    <div class="container">
        <div class="row">
                <div class="main-class bg-primary text-white">
            <h2 class="mx-auto">CONTACT US</h2>
            <div class="col-md-5   clear-fix mb-5">
                <h3 class="float-left">CONTACT INFORMATION</h3>
                <div class="info-detail">
                    <i class="fa fa-calender"></i>
                    <span>Monday - Saturday: </span>
                    "9:30 AM to 6:30 PM"
                    <i class="fa fa-map-marker"></i>
                    <span>Address:</span>
                    "#69&70,RajivGandhiiNagar,Bachupally,Hyderabad-90"
                    <i class="fa fa-phone"></i>
                    <span>Phone: </span>
                    "(+91) 949366-1015"
                    <i class="fa fa-envolope"></i>
                    <span>Email: </span>
                    "invasivetechnologies@gmail.com"
                </div>
            </div>
            <div class="col-md-5 clear-fix mb-5">
                <h3 class="float-right">LEAVE US A MESSAGE</h3>
                <form>
                    <div class="form-group">
                        <label for="usr"></label>
                        <input type="text" class="form-control" id="usr" name="Name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="email"></label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="number">Phoneno:</label>
                        <input type="number" class="form-control" id="number" name="Email" placeholder="Number">
                    </div>
                    <div class="form-group">
                        <label for="message">MESSAGE:</label>
                        <textarea class="form-control" cols="30" rows="10" id="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>

        </div>

    </div>
</div> -->

<section class="api-map" id="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 map" id="map"></div>
            </div>
        </div>
    </section><!-- end of map section -->

    
    <section class="contact">
        <div class="container">
            <div class="row">
                    <div class="contact-caption  clearfix">
                        <div class="contact-heading text-center">
                            <h2>CONTACT US</h2>
                            <br>
                            <br>
                        </div>

                        <div class="col-md-6 contact-info float-left">
                            <h3>CONTACT INFORMATION</h3>
                            <hr>
                            <div class="info-detail">
                                <ul><li><i class="fa fa-calendar"></i><span>Monday - Saturday:</span> 9:30 AM to 6:30 PM</li></ul>
                                <ul><li><i class="fa fa-map-marker"></i><span>Address:</span>#69&70,RajivGandhiiNagar,Bachupally,Hyderabad-90</li></ul>
                                <ul><li><i class="fa fa-phone"></i><span>Phone:</span> (+91) 949366-1015</li></ul>
                                <ul><li><i class="fa fa-envelope"></i><span>Email:</span> invasivetechnologies@gmail.com</li></ul>
                            </div>
                        </div>


                        <div class="col-md-6 float-right mb-5">
                                <h3 >LEAVE US A MESSAGE</h3>
                                <hr>
                                <form>
                                    <div class="form-group">
                                        <label for="usr"></label>
                                        <input type="text" class="form-control" id="usr" name="Name" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email"></label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="number">Phoneno:</label>
                                        <input type="number" class="form-control" id="number" name="Email" placeholder="Number">
                                    </div>
                                    <div class="form-group">
                                        <label for="message">MESSAGE:</label>
                                        <textarea class="form-control" cols="10" rows="05" id="message"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-dark">Submit</button>
                                </form>
                            </div>

                    </div>
            </div>
        </div>
    </section>
