<section class="team" id="team">
        <div class="container">
            <div class="row">
                <div class="team-heading mr-5 text-center" style=" margin-left: 210px">
                   
                    <h2>OUR TEAM</h2>

                    <h4 style="color:#a0a5a8">Great Vision. Great Team </h4>
                    <p style="color:#f36229;">We are passionately committed to excellence and this is the force behind our success</p>
                </div>
            </div>
        </div>
    </section>